.header {
    width: 100%;
	padding: 30px;
	height: 15vh;
	border-radius: 20px;
	position: fixed;
	background: transparent;
	backdrop-filter: blur(5px);
	z-index: 99;
	gap: 5vw;
	background-image: ("../img/top1.png");
}

.header a{
	text-decoration: none;
	color: #D2D2D2;
}

.header button{
	color: #D2D2D2;
	background: transparent;
	border: none;
}

.imgTop{
	position: absolute;
	z-index: 1;
}

.headerChild{
	transition: all .5s ease;
}

.headerChild:hover{
	transform: scale(110%);
}

.header svg{
	transform: scale(60%);
}

.copiado {
	width: fit-content;
	background-color: #0d0d0d;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	z-index: 1000;
	transform: translateY(50px);
  }