h1 {
	& span {
		animation: blink 1s linear infinite;
	}
}

.hero {
	display: flex;
	flex-direction: column;
	gap: 46vh;
	position: relative;
	margin-top: 37vh;

	& h5 {
		font-size: medium;
	}
}

@keyframes blink {
	0% {
		opacity: 0;

	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@media (width < 1000px) {
	section {
		gap: 10px;
		padding: 20px !important;
	}
}

@media (min-width: 992px) {
	section {
		gap: 30px;
	}
}

.jumpscare {
	display: inline-block;
	animation: jumpscare 2s ease-in-out infinite;
	animation-fill-mode: forwards;
	animation-delay: calc(var(--i) * 150ms);
}

.palo{
	color: rgb(174, 142, 36);
	font-weight: 600;
}

@keyframes jumpscare {
	0% {
		transform: translateY(0) rotate(0);
	}

	10% {
		transform: translateX(5px) rotate(-10deg);
	}

	20% {
		transform: translateY(0px) translateX(5px) rotate(10deg);
	}

	30% {
		transform: translateY(0px) translateX(5px) rotate(-10deg);
	}

	40% {
		transform: translateY(0px) translateX(5px) rotate(10deg);
	}

	50% {
		transform: translateY(0px) translateX(5px) rotate(-10deg);
	}

	60% {
		transform: translateY(0px) translateX(5px) rotate(10deg);
	}

	70% {
		transform: translateY(0) rotate(0);
	}

	100% {
		transform: translateY(0) rotate(0);
	}
}