h1 {
	& span {
		animation: blink 1s linear infinite;
	}
}

.hero {
	display: flex;
	flex-direction: column;
	gap: 46vh;
	position: relative;
	margin-top: 37vh;

	& h5 {
		font-size: medium;
	}
}

.curva {
	position: absolute;
	bottom: -55px;
	left: 40px;
}

.strokeNdot {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	& .dot {
		width: 1em;
		height: 1em;
		border-radius: 50%;
		background-color: #EEAE3E;
	}

	& .stroke {
		width: 0.5px;
		height: 100%;
		background-color: #FFFFFF;
	}
}

@keyframes blink {
	0% {
		opacity: 0;

	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@media (width < 1000px) {
	section {
		gap: 10px;
		padding: 20px !important;
	}
}

@media (min-width: 992px) {
	section {
		gap: 30px;
	}
}