section {
	position: relative;
}

.cards-container {
	gap: 60px;
}

.proyect-card {
	display: flex;
	align-items: center;
	padding: 20px;
	height: fit-content;
	cursor: pointer;

	&:hover .image-container{
		animation: float 1.5s ease infinite;
	}
}

.image-container {
	border: 1px solid #0b0b0b;
	border-radius: 18px;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 3px;
		left: 3px;
		border-radius: inherit;
		z-index: -1;
		background: linear-gradient(45deg,
				var(--clr1),
				var(--clr2),
				var(--clr1));
	}
}

.tech-logo {
	width: 15px;
	height: 15px;
}

.tech-pill {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 5px 10px;
	border-radius: 20px;
	border: 1px solid black;
	font-size: 1em;
	color: #fff;
	transition: all .3s ease;

	&:hover{
		transform: scale(1.07);
	}
}

.tech-pill.bootstrap {
	background-color: #50356e;
}

.tech-pill.astro {
	background-color: #7d311e;
}

.tech-pill.tailwindcss {
	background-color: #225C64;
}

.tech-pill.react {
	background-color: #06434F;
}

.tech-pill.vitejs {
	background-color: #aba424;
}
